html,
body {
    margin: 0;
    background: #1F2937;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    border: 2px #7790b2 solid;
    border-radius: 10px;
    padding: .6em;
    max-width: 900px;
}

form {
    height: 10%;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

#color-picker {
    width: 12%;
    align-self: center;
    margin: 2px;
    height: 100%;
    margin: 0;
}

#mode-select {
    width: 48%;
    font-size: 1rem;
}

#submit {
    width: 38%;
    background-color: #383838;
    color: #fff;
    border: none;
    font-size: 1rem;
}

#colors {
    display: flex;
    height: 80%;
    width: 100%;
}

#colors div {
    width: 100%;
}

#color-hexes {
    margin: 0;
    padding: .75em 0;
    display: flex;
    height: 10%;
    color: #D5D4D8;
}

#color-hexes p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}